{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/adminPanel.css'%}">
{% endblock %}

{% block body %}
    <div class="top-bar">
        Панель администратора
    </div>

    <div class="editor-container">
        
        <div class="editor-header">
            <h1>Редактирование текстов главной страницы</h1>
            <p>Внесите изменения в текстовые блоки сайта и нажмите "Сохранить".</p>
            <br>
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="bible_text">Начальный текст\место-писание из библии</label>
                <textarea id="bible_text" name="text_bible">{{ form.text_bible.value|default:'' }}</textarea>
            </div>

            <div class="form-group">
                <label for="about_text">Текст блока "О нас"</label>
                <textarea id="about_text" name="text_about">{{ form.text_about.value|default:'' }}</textarea>
            </div>

            <div class="form-group">
                <label for="footer_text">Текст в футере (подвал сайта)</label>
                <input type="text" id="footer_text" name="text_footer" value="{{ form.text_footer.value|default:'' }}">
            </div>

            <div class="form-group">
                <label for="phone">Номер телефона</label>
                <input type="text" id="phone" name="phone" value="{{ form.phone.value|default:'' }}">
            </div>

            <div class="form-group">
                <label for="date_saturday">Время: Субота</label>
                <input type="text" id="date_saturday" name="date_saturday" value="{{ form.date_saturday.value|default:'' }}">
            </div>

            <div class="form-group">
                <label for="date_sunday">Время: Воскресенье</label>
                <input type="text" id="date_sunday" name="date_sunday" value="{{ form.date_sunday.value|default:'' }}">
            </div>

            <div class="form-actions">
                <button type="submit" class="btn-save">Сохранить изменения</button>
            </div>

        </form>
    </div>
{% endblock %}