{% extends "main/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/adminPanel.css'%}">
{% endblock %}

{% block body %}
<script src="{% static 'js/adminPanel.js' %}"></script>

<div class="admin-container">

    <div class="card special-card">
        <div class="card-header">
            <h3>Регистрация</h3>
        </div>
        
        <p>Управление статусом и формой регистрации</p>

        <div class="btn-row">
            <button onclick="openRegister()" class="btn-action btn-gold">
                <i class="fa-solid fa-gear"></i> Настроить
            </button>
            
            <a href="{% url 'Cosciol:page_formUser' %}" class="btn-action btn-blue">
                <i class="fa-solid fa-list"></i> Форма
            </a>
        </div>
    </div>

    <div class="card">
        <h3>Приветствие</h3>
        <p>Место из Писания</p>
        <button onclick="openModal()" class="btn-edit">Изменить</button>
    </div>

    <div class="card">
        <h3>Адрес</h3>
        <p>Текущий адрес церкви</p>
        <button onclick="openAdress()" class="btn-edit">Изменить</button>
    </div>

    <div class="card">
        <h3>О нас</h3>
        <p>Информация "О нас"</p>
        <button onclick="openAbout_uss()" class="btn-edit">Изменить</button>
    </div>

    <div class="card">
        <h3>Email</h3>
        <p>Контактный Email</p>
        <button onclick="openEmail()" class="btn-edit">Изменить</button>
    </div>

    <div class="card">
        <h3>Расписание Встреч</h3>
        <p>Расписание (Суббота / Воскресенье)</p>
        <button onclick="openMeting()" class="btn-edit">Изменить</button>
    </div>
</div>


<!-- Окно местописания -->
<div id="TEXT" class="modal-overlay">
    <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <h2>Изменение Приветствие</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="bible_form">
            
            <label>Заголовок</label>
            <input type="text" name="title_bible" value="{{ info.title_bible }}">
            <label>Текст</label>
            <textarea id="about_text" name="text_bible">{{ info.text_bible}}</textarea>

            <button type="submit" class="btn-save">Сохранить</button>
        </form>

    </div>
</div>


<!-- Окно адрес -->
<div id="adres" class="modal-overlay">
    <div class="modal-content">
        <span class="close-btn" onclick="closeadress()">&times;</span>
        <h2>Изменение адреса</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="adres_form">
            
            <label>Адрес</label>
            <input type="text" name="text_adres" value="{{ info.text_adres}}">
            <label>Ссылка на местоположение</label>
            <input type="text" name="text_adres_link" value="{{ info.text_adres_link}}">
            <label>Нормер телефона</label>
            <input type="text" name="phone" value="{{ info.phone}}">

            <button type="submit" class="btn-save">Сохранить</button>
        </form>

    </div>
</div>


<!-- Окно о нас -->
<div id="about_us" class="modal-overlay">
    <div class="modal-content">
        <span class="close-btn" onclick="about_uss_clos()">&times;</span>
        <h2>Изменение О нас</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="about_us_form">

            <label>Первый абзац</label>
            <textarea name="about_us_text1">{{ info.about_us_text1}}</textarea>
            <label>Второй абзац</label>
            <textarea name="about_us_text2">{{ info.about_us_text2}}</textarea>

            <button type="submit" class="btn-save">Сохранить</button>
        </form>

    </div>
</div>


<!-- Окно Email -->
<div id="open_email" class="modal-overlay">
    <div class="modal-content">
        <span class="close-btn" onclick="clos_Email()">&times;</span>
        <h2>Изменение Email</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="Email_form">

            <label>Ваш Email</label>
            <input type="text" name="text_email" value="{{ info.text_email}}">

            <button type="submit" class="btn-save">Сохранить</button>
        </form>

    </div>
</div>


<!-- Окно meting schedule -->
<div id="open_meting" class="modal-overlay">
    <div class="modal-content">
        <span class="close-btn" onclick="clos_meting()">&times;</span>
        <h2>Изменение встреч</h2>

        <form method="POST">
            {% csrf_token %}
           <input type="hidden" name="form_type" value="meting_form">

            <label>Суббота</label>
            <input type="text" name="meting_saturday" value="{{ info.meting_saturday}}">
            <label>Воскресенье</label>
            <input type="text" name="meting_sanday" value="{{ info.meting_sanday}}">

            <button type="submit" class="btn-save">Сохранить</button>
        </form>

    </div>
</div>

<!-- Окно Для открытие регистрации -->
<div id="open_registers" class="modal-overlay">
    <div class="modal-content">
        <span class="close-btn" onclick="clos_registers()">&times;</span>
        <h2>Настройка Регестрации</h2>

        <form method="POST">
            {% csrf_token %}
           <input type="hidden" name="form_type" value="reg_status_form">

            <div style="margin: 20px 0; text-align: left;">
                <label>
                    <input type="checkbox" name="is_open" 
                    {% if info.is_reg_open %}checked{% endif %}>
                    Регистрация
                </label>
            </div>
            <label>Текст под кнопку регистрации</label>
            <input type="text" name="text_register" value="{{ info.text_register }}">

            <button type="submit" class="btn-save">Сохранить</button>
        </form>

    </div>
</div>
{% endblock %}