{% extends "main/base.html" %}
{% load static %}



{% block title %}
    Kościół Chwały | Kielce
{% endblock title %}

 
{% block extra_css %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block body %}

    <section class="hero" id="home">
        <div class="hero-content">
            <h1 class="church-title">Kościół <br><span class="highlight">Chwały</span></h1> 
            
            <div class="address-box">
                <i class="fa-solid fa-location-dot highlight"></i>
                <span>{{ info_index.text_adres}}</span>
            </div>
            
            <p style="margin-top: 20px; max-width: 500px; color: #a0a0a0;">
                <h1>{{ info_index.title_bible }}</h1>
                <i>{{ info_index.text_bible }}</i>
            </p>
            
            <div class="cta-group">
                <div class="social-icons">
                    <a href="https://www.instagram.com/kosciol_chwaly_youth?igsh=cGdkZnBmdWh1ODVh" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://t.me/youthkielce" target="_blank"><i class="fa-brands fa-telegram"></i></a>
                    <a href="tel:{{ info_index.phone }}"><i class="fa-solid fa-phone"></i></a>
                </div>
            </div>
        </div>

        <div class="hero-image-container">
            <div class="image-wrapper">
                <img src="{% static 'img/Bible.jpg'%}" alt="Profile">
            </div>
            <div class="floating-badge badge-1">
                <i class="fa-solid fa-heart"></i> Любовь
            </div>
            <div class="floating-badge badge-2">
                <i class="fa-solid fa-users"></i> Поддержка
            </div>
            <div class="floating-badge badge-3">
                <i class="fa-solid fa-users"></i> Мир
            </div>
            <div class="floating-badge badge-4">
                <i class="fa-solid fa-users"></i> Семья
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="about-content">
            <h2 class="section-title">О <span class="highlight">Нас</span></h2>
            <div class="about-text-box">
                <p>
                    {{ info_index.about_us_text1 }} <br> <br>{{ info_index.about_us_text2 }}
                </p>
            </div>
        </div>
    </section>

    <section class="events" id="events">
        <h2 class="section-title">Наши <span class="highlight">События</span></h2>
        <div class="cards-container">
            <div class="event-card">
                <div class="card-image"><img src="{% static 'img/Kvartinrik.jpg' %}" alt="Квартирник"></div>
                <h3>Квартирник</h3>
            </div>
            <div class="event-card">
                <div class="card-image"><img src="{% static 'img/youth_team.jpg' %}"></div>
                <h3>Молодёжка</h3>
            </div>
            <div class="event-card">
                <div class="card-image"><img src="{% static 'img/hall.jpg' %}"></div>
                <h3>Служение</h3>
            </div>
            <div class="event-card">
                <div class="card-image"><img src="{% static 'img/konf.jpg' %}"></div>
                <h3>Конференция</h3>
            </div>
        </div>
    </section>
    <section class="gallery-section">
        <h2 class="section-title">Фото <span class="highlight">Галерея</span></h2>
        
        <div class="marquee-container">
            <div class="marquee-track scroll-left">
                <div class="gallery-item"><img src="{% static 'img/road/Bible.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/hall2.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/konf2.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/Kvartinrik.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/Kvartinrik2.jpg' %}" alt="Foto"></div>
                
                <div class="gallery-item"><img src="{% static 'img/road/photo2.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/photo3.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/photo4.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/photo5.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/sermon.jpg' %}" alt="Foto"></div>
            </div>
        </div>

        <div class="marquee-container">

            <div class="marquee-track scroll-right">
                <div class="gallery-item"><img src="{% static 'img/road/youth_team.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/YOUU.jpg' %}" alt="Foto"></div> 
                <div class="gallery-item"><img src="{% static 'img/road/Kvartinrik3.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/Baza.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/salam.jpg' %}" alt="Foto"></div>

                <div class="gallery-item"><img src="{% static 'img/road/Kvartinrik4.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/youth_team.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/Kvartinrik4.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/Bible.jpg' %}" alt="Foto"></div>
                <div class="gallery-item"><img src="{% static 'img/road/photo2.jpg' %}" alt="Foto"></div>
            </div>
        </div>
    </section>

    <section class="contact-section" id="contact">
        <h2 class="section-title">Свяжитесь c <span class="highlight">нами</span></h2>
        
        <div class="contact-container">
            <div class="contact-info">
                <div class="info-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-envelope"></i>
                    </div>
                    <div class="info-text">
                        <h3>Email</h3>
                        <p>{{ info_index.text_email}}</p>
                        <a href="mailto:kosciel.chwaly@example.com">Отправить письмо</a>
                    </div>
                </div>

                <div class="info-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-phone"></i>
                    </div>
                    <div class="info-text">
                        <h3>Phone</h3>
                        <p>{{ info_index.phone }}</p>
                        <a href="tel:{{ info.phone|cut:' ' }}">Позвонить нам</a>
                    </div>
                </div>

                <div class="info-box">
                    <div class="icon-box">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <div class="info-text">
                        <h3>Location</h3>
                        <p>{{ info_index.text_adres}}</p>
                        <a href="{{ info_index.text_adres_link }}" target="_blank">Посмотреть на карте</a>
                    </div>
                </div>
            </div>

            <div class="contact-form">

                <form action="{% url 'Cosciol:contact' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-box">
                        <input name="name" type="text" placeholder="Ваше Имя" required>
                    </div>
                    <div class="input-box">
                        <input name="Email" type="email" placeholder="Ваш Email" required>
                    </div>
                    <div class="input-box">
                        <input name="Temat" type="text" placeholder="Тема" required>
                    </div>
                    <div class="input-box">
                        <textarea name="messages" placeholder="Ваше Сообщение" required></textarea>
                    </div>
                    <button type="submit" class="btn-submit">Отправить Сообщение <i class="fa-solid fa-paper-plane"></i></button>
                </form>

            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="footer-content">
            <h2>Расписание <span class="highlight">Служений</span></h2>
            
            <div class="schedule-box">
                <div class="schedule-item">
                    <i class="fa-solid fa-fire highlight"></i>
                    <div>
                        <h3>Молодёжка</h3>
                        <p>{{ info_index.meting_saturday}}</span></p>
                    </div>
                </div>

                <div class="schedule-item">
                    <i class="fa-solid fa-church highlight"></i>
                    <div>
                        <h3>Служение</h3>
                        <p>{{ info_index.meting_sanday }}</p>
                    </div>
                </div>
            </div>

            <p class="copyright">{{ info.text_footer }}</p>
        </div>
    </footer>
{% endblock %}